/**
/*~~~~~~~~~~~~~~~//
/* MAIN
/*~~~~~~~~~~~~~~~//
**/

body {
	margin: 0;
	color: var(--black);
	letter-spacing: 0.07rem;
	font-size: 0.8rem;
	background-color: var(--white);
	font-family: "ubuntu", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
* {
	box-sizing: border-box;
}
img {
	cursor: pointer;
}
a {
	text-decoration: none;
	color: var(--black);
	cursor: pointer;
}

/**
/*~~~~~~~~~~~~~~~//
/* COLORS
/*~~~~~~~~~~~~~~~//
**/

:root {
	--black: #333;
	--white: #f4f4f4;
	--green: #5f9ea0;
	--red: #a52a2a;
	--lightgrey: #e0e0e0;
}

/**
/*~~~~~~~~~~~~~~~//
/* CONTAINER
/*~~~~~~~~~~~~~~~//
**/

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	max-width: 500px;
	height: 100vh;
	margin: auto;
	padding: 0.3rem;
}
.content {
	flex-grow: 1;
}

/**
/*~~~~~~~~~~~~~~~//
/* TITLE
/*~~~~~~~~~~~~~~~//
**/

.title-politecnico {
	display: grid;
	text-align: center;
	background-color: var(--lightgrey);
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	border-bottom: 3px solid var(--black);
}
.logo-politecnico {
	margin: 1rem auto;
	width: 80px;
}

/**
/*~~~~~~~~~~~~~~~//
/* INPUT PANEL
/*~~~~~~~~~~~~~~~//
**/

.admin-panel {
	padding: 1rem 1rem;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	justify-content: center;
	display: grid;
	row-gap: 0.5rem;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 30px 30px;
	grid-template-areas:
		"ticket datapicker"
		"description button";
}
.ticket-panel {
	grid-area: ticket;
}
.description-panel {
	grid-area: description;
}
.btn-panel {
	grid-area: button;
	justify-self: center;
}
.datapicker-panel {
	grid-area: datapicker;
	border: none;
	width: 90%;
	padding: 0.5rem;
	color: var(--black);
	font-family: "ubuntu", sans-serif;
	background-color: var(--white);
	letter-spacing: 0.07rem;
	border-bottom: 1px dotted var(--lightgrey);
}
.ticket-panel,
.description-panel {
	background-color: var(--white);
	padding-left: 0.5rem;
	width: 90%;
	height: 2rem;
	border: none;
	border-bottom: 1px dotted var(--lightgrey);
}
input:focus {
	border-bottom: 2px solid var(--black);
	outline: none;
}

/**
/*~~~~~~~~~~~~~~~//
/* FILTER COUNT
/*~~~~~~~~~~~~~~~//
**/

.ul-count {
	list-style-type: none;
	text-align: center;
	padding: 1rem 0;
	margin: 0;
	background-color: var(--lightgrey);
	display: grid;
	place-content: center;
	justify-content: space-around;
	grid-template-columns: 80px 80px;
	grid-template-rows: 50px 50px;
	grid-template-areas:
		"lockopen calendar"
		"lockclose ore";
}
.li-count-open {
	grid-area: lockopen;
	color: var(--green);
}
.li-count-close {
	grid-area: lockclose;
	color: var(--red);
}
.li-count-calendar {
	grid-area: calendar;
}
.li-count-ore {
	grid-area: ore;
}
.li-count-open,
.li-count-close,
.li-count-calendar {
	cursor: pointer;
}

/**
/*~~~~~~~~~~~~~~~//
/* TICKET LIST
/*~~~~~~~~~~~~~~~//
**/
.title-ticket-state {
	text-align: center;
}
.ul-todo {
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
}

.li-todo {
	display: grid;
	grid-template-columns: 80px 80px;
	grid-template-rows: 30px 30px 30px 30px;
	grid-template-areas:
		"ticket ticket"
		"description description"
		"date ore"
		"edit delete";
}

.ticket-todo {
	grid-area: ticket;
}
.desc-todo {
	grid-area: description;
}
.ore-todo {
	grid-area: ore;
}
.date-todo {
	grid-area: date;
	font-size: 12px;
}
.delete-todo {
	grid-area: delete;
}
.edit-todo {
	grid-area: edit;
}

.incomplete-todo,
.completed-todo {
	color: var(--green);
}

.completed-todo {
	color: var(--red);
}

/**
/*~~~~~~~~~~~~~~~//
/* BUTTONS
/*~~~~~~~~~~~~~~~//
**/

.delete-todo:active,
lendar:active,
.filtered-calendar-edit:active {
	width: 100%;
	border: none;
	margin: 0.5rem auto;
	outline: none;
	background-color: #f4f4f4;
	cursor: pointer;
}

.delete-todo:active,
.li-count-open:active,
.li-count-close:active,
.li-count-list:active,
.btn-calendar:active,
.filtered-calendar-edit:active {
	transform: translateY(1px);
}

.send,
.cancel {
	font-size: 0.6rem;
	margin-left: 1rem;
	align-self: center;
}

.buttons {
	display: flex;
}

/**
/*~~~~~~~~~~~~~~~//
/* FOOTER
/*~~~~~~~~~~~~~~~//
**/

footer {
	text-align: center;
	padding: 1rem;
	background-color: lightgrey;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	border-top: 3px solid #333;
}

/**
/*~~~~~~~~~~~~~~~//
/* MODAL
/*~~~~~~~~~~~~~~~//
**/

.modal-wrapper {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	background-color: rgba(128, 128, 128, 0.8);
}

.modal {
	border: 3px solid #333;
	padding: 3rem;
	margin: 1rem;
	border-radius: 0.5rem;
	background-color: #f4f4f4;
	text-align: center;
}

.modal-title {
	margin: 1rem;
}

.error-page-404 {
	text-align: center;
	color: brown;
}

/**
/*~~~~~~~~~~~~~~~//
/* CALENDAR
/*~~~~~~~~~~~~~~~//
**/

.calendar {
	margin-top: 1rem;
}

.btn-calendar {
	color: #333;
	background-color: lightgray;
}

.fc-event-title-container {
	background-color: lightgrey;
	color: #333;
	cursor: pointer;
}

.fc-h-event {
	border: 1px solid lightgray !important;
}

.fc-h-event:hover {
	border: 1px dotted #333 !important;
}

.btn-home {
	display: grid;
	place-items: center;
	margin-top: 3rem;
	color: #333;
}
/**
/*~~~~~~~~~~~~~~~~~~//
/* CALENDAR DETAILS
/*~~~~~~~~~~~~~~~~~~//
**/

.filtered-calendar-tickets {
	position: relative;
	animation: fader 0.5s ease;
	padding: 0.5rem 1rem;
	text-align: center;
	align-items: center;
	background-color: lightgray;
	border-radius: 0.5rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 30px;
	grid-template-rows: 20px 20px;
	margin-top: 2rem;
	grid-template-areas:
		"ticket date ore edit"
		"description description description edit";
}
.filtered-calendar-ticket {
	position: absolute;
	padding: 0.3rem;
	background-color: #f4f4f4;
	box-shadow: 0px 2px 20px -3px grey;
	color: green;
	border-radius: 0.3rem;
	top: -100%;
	left: 0%;
	grid-area: ticket;
	font-weight: bold;
}
.filtered-calendar-date {
	grid-area: date;
}
.filtered-calendar-description {
	grid-area: description;
	text-align: left;
}
.filtered-calendar-state {
	grid-area: state;
	color: green;
}
.filtered-calendar-ore {
	grid-area: ore;
}
.filtered-calendar-edit {
	grid-area: edit;
	cursor: pointer;
	animation: pulse 1s infinite alternate;
	cursor: pointer;
	text-align: center;
}

.filtered-calendar-state-complete {
	color: brown;
}

.fc-sticky {
	color: green;
}

.fc-sticky-complete {
	color: brown;
}
