/**
/*~~~~~~~~~~~~~~~//
/* MAIN
/*~~~~~~~~~~~~~~~//
**/

body {
	margin: 0;
	color: #333;
	letter-spacing: 0.07rem;
	background-color: #f4f4f4;
	font-family: "ubuntu", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

img {
	cursor: pointer;
}

/**
/*~~~~~~~~~~~~~~~//
/* CONTAINER
/*~~~~~~~~~~~~~~~//
**/

.container {
	position: relative;
	font-size: 0.8rem;
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: 0.2rem;
	max-width: 500px;
	height: 100vh;
}

.content {
	flex-grow: 1;
}

/**
/*~~~~~~~~~~~~~~~//
/* TITLE
/*~~~~~~~~~~~~~~~//
**/

.title {
	text-align: center;
	display: grid;
	background-color: lightgrey;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	border-bottom: 3px solid #333;
	padding: 0 0.3rem;
}

.icon {
	margin: 1rem auto;
	width: 80px;
}

/**
/*~~~~~~~~~~~~~~~//
/* INPUT PANEL
/*~~~~~~~~~~~~~~~//
**/

.panel {
	box-shadow: 0px 0px 25px -3px lightgray;
	padding: 1rem 1rem 0.5rem 1rem;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	display: grid;
}

.datepicker {
	margin: 1rem auto;
	border: none;
	width: 50%;
	padding: 0.4rem 0;
	font-family: "ubuntu", sans-serif;
	background-color: #f4f4f4;
	border-bottom: 1px dotted #999;
}

input[type="number"] {
	width: 50px;
}

input[type="text"] {
	text-transform: uppercase;
	background-color: #f4f4f4;
	padding-left: 1rem;
	height: 2rem;
	border: none;
	border-bottom: 1px dotted #999;
}

input:focus {
	border-bottom: 2px solid #333;
	outline: none;
}

/**
/*~~~~~~~~~~~~~~~//
/* FILTER COUNT
/*~~~~~~~~~~~~~~~//
**/

.filter-title {
	text-align: center;
	text-transform: uppercase;
	margin-top: 1rem;
}

.li-count-open,
.li-count-close,
.btn-calendar,
.btn-home {
	display: grid;
	place-content: center;
	text-align: center;
	width: 60px;
	height: 60px;
	padding: 0.5rem;
	box-shadow: 0px 0px 25px -3px lightgray;
	cursor: pointer;
	border-radius: 1rem;
}

.li-count-open:hover,
.li-count-close:hover,
.li-count-list:hover,
.btn-calendar:hover,
.btn-home:hover,
.filtered-calendar-edit:hover {
	border: 1px solid #333;
}

.li-count-time {
	display: grid;
	place-content: center;
	text-align: center;
	width: 60px;
	padding: 0.5rem;
}

.ul-count {
	list-style: none;
	padding: 0;
	margin: 1rem;
	display: flex;
	justify-content: space-around;
}

.li-count-open {
	color: cadetblue;
}

.li-count-close {
	color: brown;
}

/**
/*~~~~~~~~~~~~~~~//
/* TICKET LIST
/*~~~~~~~~~~~~~~~//
**/

.ul-todo {
	padding: 0;
}

.li-todo {
	animation: fader 0.5s ease-in;
	margin-bottom: 0.5rem;
	padding: 0.5rem;
	text-transform: uppercase;
	background-color: lightgrey;
	display: grid;
	grid-template-columns: 1fr 1fr auto;
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas:
		"ticket ore delete"
		"description description delete";
}
@keyframes fader {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.delete-todo {
	grid-area: delete;
	cursor: pointer;
	justify-self: right;
	align-self: center;
	color: brown;
	padding: 0.3rem;
}
.ticket-todo {
	grid-area: ticket;
	font-weight: bold;
}
.desc-todo {
	grid-area: description;
	text-transform: lowercase;
	font-style: italic;
}
.ore-todo {
	grid-area: ore;
	justify-self: center;
	cursor: pointer;
}

.incomplete-todo,
.completed-todo {
	color: cadetblue;
}

.completed-todo {
	color: brown;
}

.completed-todo::after {
	content: " - closed";
}

select {
	margin: 1rem;
	padding: 0.5rem;
}

/**
/*~~~~~~~~~~~~~~~//
/* BUTTONS
/*~~~~~~~~~~~~~~~//
**/

button {
	width: 100%;
	border: none;
	margin: 0.5rem auto;
	outline: none;
	background-color: #f4f4f4;
	cursor: pointer;
}

button:active,
.delete-todo:active,
.li-count-open:active,
.li-count-close:active,
.li-count-list:active,
.btn-calendar:active,
.filtered-calendar-edit:active {
	transform: translateY(1px);
}

.send,
.cancel {
	text-transform: uppercase;
	font-size: 0.6rem;
	margin-left: 1rem;
	align-self: center;
}

.buttons {
	display: flex;
}

/**
/*~~~~~~~~~~~~~~~//
/* FOOTER
/*~~~~~~~~~~~~~~~//
**/

footer {
	text-align: center;
	padding: 1rem;
	background-color: lightgrey;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	border-top: 3px solid #333;
}

/**
/*~~~~~~~~~~~~~~~//
/* MODAL
/*~~~~~~~~~~~~~~~//
**/

.modal-wrapper {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	background-color: rgba(128, 128, 128, 0.8);
}

.modal {
	border: 3px solid #333;
	padding: 3rem;
	margin: 1rem;
	border-radius: 1rem;
	background-color: #f4f4f4;
	text-align: center;
}

.modal-title {
	text-transform: uppercase;
	margin: 1rem;
}

.error-page-404 {
	text-align: center;
	color: brown;
}

/**
/*~~~~~~~~~~~~~~~//
/* CALENDAR
/*~~~~~~~~~~~~~~~//
**/

.calendar {
	margin-top: 1rem;
}

.btn-calendar {
	color: #333;
	background-color: lightgray;
}

.fc-event-title-container {
	/* background-color: lightgrey; */
	/* color: #333; */
	text-transform: uppercase;
	cursor: pointer;
}

.fc-h-event {
	border: 1px solid lightgray !important;
}

.fc-h-event:hover {
	border: 1px dotted #333 !important;
}

/* .fc-sticky::after {
	content: "[x]";
	color: red;
} */

.btn-home {
	display: grid;
	place-items: center;
	margin-top: 3rem;
	color: #333;
}
/**
/*~~~~~~~~~~~~~~~~~~//
/* CALENDAR DETAILS
/*~~~~~~~~~~~~~~~~~~//
**/

.filtered-calendar-tickets {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 40px 40px 40px;
	gap: 2px;
	margin-top: 3rem;
	grid-template-areas:
		"ticket state date"
		"description description ore"
		"description description edit";
}
.filtered-calendar-ticket {
	grid-area: ticket;
	font-weight: bold;
}
.filtered-calendar-date {
	grid-area: date;
}
.filtered-calendar-description {
	grid-area: description;
	padding: 0.5rem;
}
.filtered-calendar-state {
	grid-area: state;
	color: green;
}
.filtered-calendar-ore {
	grid-area: ore;
}
.filtered-calendar-edit {
	grid-area: edit;
	border: 1px solid lightgray;
	text-align: center;
	padding-top: 10px;
	cursor: pointer;
	box-shadow: 0px 0px 25px -3px lightgray;
}

.filtered-calendar-ticket,
.filtered-calendar-date,
.filtered-calendar-state,
.filtered-calendar-ore,
.filtered-calendar-description {
	padding-top: 10px;
	text-align: center;
	background-color: lightgray;
}

.filtered-calendar-state-complete {
	color: brown;
}

.test {
	background-color: red !important;
}
