body {
	margin: 0;
	color: #333;
	letter-spacing: 0.07rem;
	background-color: #f4f4f4;
	font-family: "ubuntu", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

.container {
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: 1rem;
	max-width: 500px;
	height: 100vh;
}

.content {
	flex-grow: 1;
}

.title {
	display: grid;
	background-color: lightgrey;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	padding-bottom: 1rem;
	border-bottom: 3px solid #333;
	cursor: pointer;
}

.icon {
	margin: auto;
	width: 80px;
}

.calendar {
	display: grid;
}

form {
	box-shadow: 0px 0px 15px -3px lightgray;
	padding: 1rem 1rem 0.5rem 1rem;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	display: grid;
}

.ol-todo {
	padding: 0;
}

.ul-count {
	list-style: none;
	padding: 0;
	margin-bottom: 3rem;
	display: flex;
	justify-content: space-around;
}

.li-count-open {
	color: cadetblue;
}

.li-count-close {
	color: brown;
}

.li-todo {
	font-size: 0.8rem;
	margin: 1rem 0;
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.delete-todo {
	cursor: pointer;
}

.todo-completed {
	color: grey;
}

input[type="number"] {
	width: 50px;
}

input[type="text"] {
	text-transform: uppercase;
	background-color: #f4f4f4;
	padding-left: 1rem;
	height: 2rem;
	border: none;
	border-bottom: 1px dotted #999;
}

input:focus {
	border-bottom: 2px solid #333;
	outline: none;
}

button {
	width: 100%;
	border: none;
	margin: 1rem auto;
	outline: none;
	color: #999;
	background-color: #f4f4f4;
	cursor: pointer;
}

button:hover {
	color: #333;
}

button:active,
.delete-todo:active {
	transform: translateY(1px);
	box-shadow: none;
}

footer,
.title {
	text-align: center;
}
